# 犯罪資料：將所有近三年資料拉下來

In [28]:
import requests
import json
import pandas as pd
from tqdm import tqdm_notebook, _tqdm_notebook
from bs4 import BeautifulSoup as bs

# 爬下所有API 連結

In [29]:
r = requests.get('https://data.gov.tw/dataset/14200')
info = bs(r.text)

In [38]:
url_list = []

for ele in info.find_all('a', class_ = "ff-icon-api"):
    url_list.append(ele.get('href'))
    
url_list

['http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-121',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-089',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-097',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-161',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-153',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-093',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-137',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-101',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-105',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-141',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-085',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-129',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-133',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-125',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-157',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-109',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-149',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-117',
 'http://od.moi.gov.tw/api/v1/rest/datastore/A01010000C-000499-113']

# 將所有資料合併

In [109]:
total_info = pd.DataFrame(columns =['type', 'oc_dt', 'oc_p1'] )
for x in tqdm_notebook(range(0,len(url_list))):
    r = requests.get(url_list[x])
    data = json.loads(r.text)
    data = pd.DataFrame(data['result']['records'][1:])
    #print(data.shape)
    #print(data.head(10))
    total_info = pd.concat([total_info, data], axis = 0, ignore_index = True)
    print(total_info.shape)
    #print(total_info.head(10))
total_info

HBox(children=(IntProgress(value=0, max=19), HTML(value='')))

(1999, 3)
(3998, 3)
(5997, 3)
(7996, 3)
(9995, 3)
(11994, 3)
(13993, 3)
(15992, 3)
(17991, 3)
(19990, 3)
(21989, 3)
(23988, 3)
(25987, 3)
(27986, 3)
(29985, 3)
(31984, 3)
(33983, 3)
(35982, 3)
(37981, 3)

       type    oc_dt   oc_p1
0      住宅竊盜  1060401  宜蘭縣羅東鎮
1      住宅竊盜  1060401  花蓮縣秀林鄉
2      住宅竊盜  1060401  台中市清水區
3      住宅竊盜  1060401  彰化縣埔鹽鄉
4      住宅竊盜  1060401  新北市瑞芳區
...     ...      ...     ...
37976  機車竊盜  1051029     桃園市
37977  機車竊盜  1051029     高雄市
37978  機車竊盜  1051029     台南市
37979  機車竊盜  1051029  台中市大雅區
37980  機車竊盜  1051029     新北市

[37981 rows x 3 columns]

In [119]:
total_info['年'] = 0
total_info['月/日'] = 0
total_info['縣市'] = 0
total_info['地區'] = 0
for x in tqdm_notebook(range(0, len(total_info))):
    total_info.loc[x,'年'] = total_info.loc[x,'oc_dt'][0:3]
    total_info.loc[x,'月/日'] = total_info.loc[x,'oc_dt'][3:]
    total_info.loc[x,'縣市'] = total_info.loc[x,'oc_p1'][0:3]
    total_info.loc[x,'地區'] = total_info.loc[x,'oc_p1'][3:]

HBox(children=(IntProgress(value=0, max=37981), HTML(value='')))

In [120]:
total_info = total_info.drop(columns = ['oc_dt', 'oc_p1','年月'])
total_info

       type    年   月/日   縣市   地區
0      住宅竊盜  106  0401  宜蘭縣  羅東鎮
1      住宅竊盜  106  0401  花蓮縣  秀林鄉
2      住宅竊盜  106  0401  台中市  清水區
3      住宅竊盜  106  0401  彰化縣  埔鹽鄉
4      住宅竊盜  106  0401  新北市  瑞芳區
...     ...  ...   ...  ...  ...
37976  機車竊盜  105  1029  桃園市
37977  機車竊盜  105  1029  高雄市
37978  機車竊盜  105  1029  台南市
37979  機車竊盜  105  1029  台中市  大雅區
37980  機車竊盜  105  1029  新北市

[37981 rows x 5 columns]

In [121]:
total_info.to_csv('犯罪資料.csv')