# 引用套件

In [2]:
from bs4 import BeautifulSoup as bs
import requests
from tqdm import tqdm_notebook, _tqdm_notebook
import pandas as pd
import numpy as np
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36' }

# 撈全聯

In [2]:
r = requests.get('https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-00.html', headers = headers)
r.encoding = 'utf8'
data = bs(r.text, 'lxml')

# 取出全聯連結(所有地區)

In [3]:
url_list = []
for ele in data.find_all('a')[4:]:
    url_list.append('https://www.319papago.idv.tw/lifeinfo/pxmart/' + ele.get('href'))
url_list

['https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-01.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-02.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-03.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-04.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-05.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-06.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-07.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-08.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-09.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-10.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-11.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-12.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-13.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-14.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-15.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-16.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-17.html',
 'https://www.319papago.idv.tw/lifeinfo/pxmart/pxmart-18.html']

# 撈出全聯所有資料

In [4]:
total_dict = dict()
chuan_lian = []
for url in tqdm_notebook(url_list):
    r = requests.get(url, headers = headers)
    r.encoding = 'utf8'
    data = bs(r.text, 'lxml')
    
    for x in data.find_all('tr', height = '22'):
        address = x.find_all('td')[2].string
        chuan_lian.append(address)
total_dict['chuan_lian'] = chuan_lian

total_dict['chuan_lian'][1:16]

HBox(children=(IntProgress(value=0, max=18), HTML(value='')))

['基隆市七堵區南興路106號',
 '基隆市中山區西定路230號',
 '基隆市中山區復興路151號',
 '基隆市中正區中正路676號',
 '基隆市中正區信四路11號',
 '基隆市仁愛區仁三路11號',
 '基隆市仁愛區成功一路133巷1號',
 '基隆市仁愛區精一路15號1樓',
 '基隆市安樂區基金一路135巷21弄2號之1',
 '基隆市信義區東明路177號',
 '基隆市信義區東信路55巷17號',
 '基隆市信義區義六路５號',
 '台北市士林區士東路23號',
 '台北市士林區大南路315號',
 '台北市士林區中山北路７段81巷7號']

# 撈頂好網址

In [5]:
r = requests.get('https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-00.html')
r.encoding = 'utf8'
data = bs(r.text, 'lxml')

url_list = []
for ele in data.find_all('a')[5:]:
    url_list.append('https://www.319papago.idv.tw/lifeinfo/Wellcome/' + ele.get('href'))
url_list

['https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-01.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-02.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-03.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-04.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-05.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-06.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-07.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-08.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-09.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-10.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-11.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-12.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-13.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-14.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-15.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-16.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-17.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-18.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-19.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-20.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-21.html',
 'https://www.319papago.idv.tw/lifeinfo/Wellcome/Wellcome-22.html']

# 撈出頂好所有資料

In [6]:
wellcome = []
for url in tqdm_notebook(url_list):
    r = requests.get(url, headers = headers)
    r.encoding = 'utf8'
    data = bs(r.text, 'lxml')
    for x in data.find_all('tr', height = '22'):
        address = x.find_all('td')[2].string
        wellcome.append(address)
total_dict['wellcome'] = wellcome
total_dict['wellcome'][1:16]

HBox(children=(IntProgress(value=0, max=22), HTML(value='')))

['基隆市中正區新豐街460號底樓',
 '基隆市仁愛區孝二路86號B1',
 '基隆市安樂區安樂路二段164號B1',
 '基隆市安樂區樂利二街62巷225號',
 '基隆市信義區深溪路63號、65號',
 '基隆市暖暖區暖暖街168,170號',
 '台北市士林區中山北路七段154巷6號1樓',
 '台北市士林區社中街222號1樓',
 '台北市士林區雨聲街52號、52-1號、52巷1號',
 '台北市士林區格致路7號',
 '台北市士林區通河街153號、155號',
 '台北市士林區華齡街175號',
 '台北市士林區德行東路230號',
 '台北市大同區太原路155、157號',
 '台北市大同區重慶北路一段73號B1']

# 好市多網址

In [7]:
r = requests.get('https://www.319papago.idv.tw/lifeinfo/costco/costco-00.html', headers = headers)
r.encoding = 'utf8'
data = bs(r.text, 'lxml')

url_list = []
for ele in data.find_all('a')[5:]:
    url_list.append('https://www.319papago.idv.tw/lifeinfo/costco/' + ele.get('href'))
url_list

['https://www.319papago.idv.tw/lifeinfo/costco/costco-01.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-02.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-03.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-04.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-05.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-06.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-07.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-08.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-09.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-10.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-11.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-12.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-13.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-14.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-15.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-16.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-17.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-18.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-19.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-20.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-21.html',
 'https://www.319papago.idv.tw/lifeinfo/costco/costco-22.html']

# 撈出好市多所有資料

In [8]:
costco = []
for url in tqdm_notebook(url_list):
    r = requests.get(url, headers = headers)
    r.encoding = 'utf8'
    data = bs(r.text, 'lxml')
    if len(data.find_all('tr', height = '22')) != 0:
        for x in data.find_all('tr', height = '22'):
            address = x.find_all('td')[2].string
            costco.append(address)
    else:
        address = data.find_all('td', height = '33')[3].string
        if address != '\xa0':
            costco.append(address)
        
        
total_dict['costco'] = costco
total_dict['costco']

HBox(children=(IntProgress(value=0, max=22), HTML(value='')))

['台北市內湖區舊宗路一段268號',
 '台北市北投區立德路117號',
 '新北市中和區中山路2段347號',
 '新北市汐止區大同路一段158號',
 '新北市新莊區建國一路138號',
 '桃園市中壢區民族路六段576巷86之一號',
 '桃園市桃園區民族路六段508號',
 '桃園市蘆竹區南崁路一段369號',
 '新竹市東區慈雲路188號',
 '台中市南屯區文心南三路289號',
 '嘉義市東區忠孝路668號',
 '台南市北區和緯路四段8號',
 '高雄市前鎮區中華五路656號',
 '高雄市鼓山區大順一路111號']

# 合併成一個Dataframe(全聯、頂好、costco 依序)

In [9]:
#全聯
chuan_lian = pd.DataFrame({'地址':total_dict['chuan_lian']})
chuan_lian['縣市地區'] = 0

for x in tqdm_notebook(range(0, len(chuan_lian))):
    chuan_lian.loc[x,'縣市地區'] = chuan_lian.loc[x, '地址'][0:6]
    
chuan_lian = pd.DataFrame({'縣市地區':chuan_lian.groupby('縣市地區').size().index,\
                           '全聯家數':chuan_lian.groupby('縣市地區').size().values})
chuan_lian

HBox(children=(IntProgress(value=0, max=622), HTML(value='')))

       縣市地區  全聯家數
0    南投縣南投市     2
1    南投縣名間鄉     1
2    南投縣埔里鎮     3
3    南投縣水里鄉     1
4    南投縣竹山鎮     2
..      ...   ...
230  高雄市苓雅區     6
231  高雄市路竹區     1
232  高雄市阿蓮區     1
233  高雄市鳳山區     8
234  高雄市鼓山區     3

[235 rows x 2 columns]

In [10]:
#頂好
wellcome = pd.DataFrame({'地址':total_dict['wellcome']})
wellcome['縣市地區'] = 0

for x in tqdm_notebook(range(0, len(wellcome))):
    wellcome.loc[x,'縣市地區'] = wellcome.loc[x, '地址'][0:6]
    
wellcome = pd.DataFrame({'縣市地區':wellcome.groupby('縣市地區').size().index,\
                           '頂好家數':wellcome.groupby('縣市地區').size().values})
wellcome

HBox(children=(IntProgress(value=0, max=224), HTML(value='')))

      縣市地區  頂好家數
0   台中市南區建     1
1   台中市南屯區     1
2   台中市大雅區     1
3   台中市西屯區     2
4   台中市龍井區     1
..     ...   ...
76  苗栗縣頭份鎮     1
77  高雄市三民區     1
78  高雄市左營區     1
79  高雄市苓雅區     1
80  高雄市鼓山區     3

[81 rows x 2 columns]

In [11]:
#Costco
costco = pd.DataFrame({'地址':total_dict['costco']})
costco['縣市地區'] = 0

for x in tqdm_notebook(range(0, len(costco))):
    costco.loc[x,'縣市地區'] = costco.loc[x, '地址'][0:6]
    
costco = pd.DataFrame({'縣市地區':costco.groupby('縣市地區').size().index,\
                           'costco家數':costco.groupby('縣市地區').size().values})
costco

HBox(children=(IntProgress(value=0, max=14), HTML(value='')))

      縣市地區  costco家數
0   台中市南屯區         1
1   台北市內湖區         1
2   台北市北投區         1
3   台南市北區和         1
4   嘉義市東區忠         1
5   新北市中和區         1
6   新北市新莊區         1
7   新北市汐止區         1
8   新竹市東區慈         1
9   桃園市中壢區         1
10  桃園市桃園區         1
11  桃園市蘆竹區         1
12  高雄市前鎮區         1
13  高雄市鼓山區         1

In [12]:
All = pd.merge(chuan_lian, wellcome, on = '縣市地區', how = 'outer')
All = pd.merge(All, costco, on = '縣市地區', how = 'outer')
All

       縣市地區  全聯家數  頂好家數  costco家數
0    南投縣南投市   2.0   NaN       NaN
1    南投縣名間鄉   1.0   NaN       NaN
2    南投縣埔里鎮   3.0   NaN       NaN
3    南投縣水里鄉   1.0   NaN       NaN
4    南投縣竹山鎮   2.0   NaN       NaN
..      ...   ...   ...       ...
255  桃園市桃園區   NaN  13.0       1.0
256  桃園市楊梅區   NaN   1.0       NaN
257  桃園市蘆竹區   NaN   4.0       1.0
258  桃園市龜山區   NaN   5.0       NaN
259  新竹市東區慈   NaN   NaN       1.0

[260 rows x 4 columns]

In [13]:
All['縣市'] = 0
All['地區'] = 0

for x in range(0,len(All)):
    All.loc[x,'縣市'] = All.loc[x,'縣市地區'][0:3]
    All.loc[x,'地區'] = All.loc[x,'縣市地區'][3:]
    
All = All.drop(columns = '縣市地區')
All = All[['縣市','地區', 'costco家數','頂好家數','全聯家數']]
All = All.fillna(0)
All

      縣市   地區  costco家數  頂好家數  全聯家數
0    南投縣  南投市       0.0   0.0   2.0
1    南投縣  名間鄉       0.0   0.0   1.0
2    南投縣  埔里鎮       0.0   0.0   3.0
3    南投縣  水里鄉       0.0   0.0   1.0
4    南投縣  竹山鎮       0.0   0.0   2.0
..   ...  ...       ...   ...   ...
255  桃園市  桃園區       1.0  13.0   0.0
256  桃園市  楊梅區       0.0   1.0   0.0
257  桃園市  蘆竹區       1.0   4.0   0.0
258  桃園市  龜山區       0.0   5.0   0.0
259  新竹市  東區慈       1.0   0.0   0.0

[260 rows x 5 columns]

In [14]:
All.to_csv('超市家數.csv')

# bug 處理

In [5]:
data = pd.read_csv('超市家數.csv')
data = data.drop(columns = ['Unnamed: 0'])
data

      縣市   地區  costco家數  頂好家數  全聯家數
0    南投縣  南投市       0.0   0.0   2.0
1    南投縣  名間鄉       0.0   0.0   1.0
2    南投縣  埔里鎮       0.0   0.0   3.0
3    南投縣  水里鄉       0.0   0.0   1.0
4    南投縣  竹山鎮       0.0   0.0   2.0
..   ...  ...       ...   ...   ...
255  桃園市  桃園區       1.0  13.0   0.0
256  桃園市  楊梅區       0.0   1.0   0.0
257  桃園市  蘆竹區       1.0   4.0   0.0
258  桃園市  龜山區       0.0   5.0   0.0
259  新竹市  東區慈       1.0   0.0   0.0

[260 rows x 5 columns]

In [6]:
num = 0
for x in range(0,len(data)):
    if (data.loc[x, '縣市'][2] == '市') and (data.loc[x, '地區'][1] == '區'):
        data.loc[x, '地區'] = data.loc[x, '地區'][0:2]
        num += 1
        
num

60

In [7]:
data

      縣市   地區  costco家數  頂好家數  全聯家數
0    南投縣  南投市       0.0   0.0   2.0
1    南投縣  名間鄉       0.0   0.0   1.0
2    南投縣  埔里鎮       0.0   0.0   3.0
3    南投縣  水里鄉       0.0   0.0   1.0
4    南投縣  竹山鎮       0.0   0.0   2.0
..   ...  ...       ...   ...   ...
255  桃園市  桃園區       1.0  13.0   0.0
256  桃園市  楊梅區       0.0   1.0   0.0
257  桃園市  蘆竹區       1.0   4.0   0.0
258  桃園市  龜山區       0.0   5.0   0.0
259  新竹市   東區       1.0   0.0   0.0

[260 rows x 5 columns]

In [8]:
data.to_csv('超市家數.csv')

In [10]:
data.drop_duplicates(subset=None, keep='first', inplace=False)

      縣市   地區  costco家數  頂好家數  全聯家數
0    南投縣  南投市       0.0   0.0   2.0
1    南投縣  名間鄉       0.0   0.0   1.0
2    南投縣  埔里鎮       0.0   0.0   3.0
3    南投縣  水里鄉       0.0   0.0   1.0
4    南投縣  竹山鎮       0.0   0.0   2.0
..   ...  ...       ...   ...   ...
255  桃園市  桃園區       1.0  13.0   0.0
256  桃園市  楊梅區       0.0   1.0   0.0
257  桃園市  蘆竹區       1.0   4.0   0.0
258  桃園市  龜山區       0.0   5.0   0.0
259  新竹市   東區       1.0   0.0   0.0

[225 rows x 5 columns]

In [11]:
data.to_csv('超市家數.csv')